.DS_Store
applet
application.linux-arm64
application.linux-armv6hf
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
out
# criar lsitas de produtos
produtos = ['caixa pizza','queijo','massa pizza','molho','calabresa','cebola','azeitona','frango','requeijão','milho']
valores = [2.99,49.90,2.00,2.00,24.90,5.00,15.00,13.49,25.00,3.00]
Categorias = ['embalagens','insumos']
produtos  =  [ 'caixa pizza','queijo','massa pizza','molho','calabresa','cebola','azeitona','frango','requeijão','milho' ] 
valores  =  [ 2.99,49.90,2.00,2.00,24.90,5.00,15.00,13.49,25.00,3.00 ] 
Categorias  =  [ 'embalagens','insumos' ]

#perguntar nome completo do cliente e cpf com input

cliente = input('Olá, seja bem vindo!Digite seu nome completo ')
cpf_cliente = input('Digite seu cpf ')
print(cliente,
      
      cpf_cliente
     )

#digitei o produto que deseja colocar no carrinho

produto = input('Digite seu produto ')
for i,produto in enumerate(produtos):
    print(i)
